<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.research.mapper.ReCertificateMapper">
    
    <resultMap type="ReCertificate" id="ReCertificateResult">
        <result property="id"    column="id"    />
        <result property="mainId"    column="main_id"    />
        <result property="certificateName"    column="certificate_name"    />
        <result property="certificateLevel"    column="certificate_level"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
    </resultMap>

    <sql id="selectReCertificateVo">
        select id, main_id, certificate_name, certificate_level, start_date, end_date from re_certificate
    </sql>

    <select id="selectReCertificateList" parameterType="ReCertificate" resultMap="ReCertificateResult">
        <include refid="selectReCertificateVo"/>
        <where>  
            <if test="mainId != null "> and main_id = #{mainId}</if>
            <if test="certificateName != null "> and certificate_name = #{certificateName}</if>
            <if test="certificateLevel != null "> and certificate_level = #{certificateLevel}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
        </where>
    </select>
    
    <select id="selectReCertificateById" parameterType="Long" resultMap="ReCertificateResult">
        <include refid="selectReCertificateVo"/>
        where id = #{id}
    </select>

    <insert id="insertReCertificate" parameterType="ReCertificate" useGeneratedKeys="true" keyProperty="id">
        insert into re_certificate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mainId != null">main_id,</if>
            <if test="certificateName != null">certificate_name,</if>
            <if test="certificateLevel != null">certificate_level,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mainId != null">#{mainId},</if>
            <if test="certificateName != null">#{certificateName},</if>
            <if test="certificateLevel != null">#{certificateLevel},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
         </trim>
    </insert>

    <update id="updateReCertificate" parameterType="ReCertificate">
        update re_certificate
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="certificateName != null">certificate_name = #{certificateName},</if>
            <if test="certificateLevel != null">certificate_level = #{certificateLevel},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReCertificateById" parameterType="Long">
        delete from re_certificate where id = #{id}
    </delete>

    <delete id="deleteReCertificateByIds" parameterType="String">
        delete from re_certificate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>